@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap');

/* colors, when @apply doesn't work */
:root {
	--neutral-700: rgb(101, 93, 100);
}

/* general HTML tags */
a, .link {
	@apply text-accent-600 hover:text-accent-700;

	.text-light & {
		@apply text-accent-400 hover:text-accent-500;
	}
}

h1, .h1 {
	@apply text-4xl md:text-5xl lg:text-6xl font-bold;
	@apply leading-relaxed;
	font-variant: small-caps;
}

h2, .h2 {
	@apply text-4xl md:text-5xl font-bold;
	@apply leading-relaxed;
	font-variant: small-caps;
}

h3, .h3 {
	@apply text-3xl md:text-4xl font-bold;
	@apply leading-relaxed;
}
h4, h5, h6,
.h4, .h5, .h6 {
	@apply text-2xl md:text-4xl;
}

h5, h6,
.h5, .h6 { @apply italic; }

/* general classes */
.disabled {
	@apply text-neutral-600 cursor-default;
}

.small-caps {
	font-variant: small-caps;
}

.top-bar:after {
	width: 100%;
	content: "";
	height: 1px;
	border-bottom: 1px solid black;
	background: rgba(0,0,0,1);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,1);
	z-index: 10;
}

/* TOOLTIPS */
// https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/
.has-tooltip {
	position: relative;

	&:before {
		@apply bg-neutral-700 text-light text-xs p-2 absolute inline-block;

		content: attr(data-tooltip); /* MAGIC! */

		// center horizontally
		left: 50%;
		transform: translateX(-50%);

		// position on top
		bottom: 100%;
		margin-bottom: 15px;		

		min-width: 300px;

		display: none;
	}

	&:after {
		@apply border;

		content: "";

		position: absolute;

		// center horizontally
		left: 50%;
		transform: translateX(-50%);

		// position on top
		bottom: 100%;
		margin-bottom: -3px;
		
		border: 10px solid transparent;

		display: none;
	}

	&.tooltip-visible:before,
	&.tooltip-visible:after,
	&:hover:before,
	&:hover:after {
	 	display: block;
	}

	&.tooltip-top {
		&:before, &:after { bottom: 100%; }
		&:before { margin-bottom: 15px; }
		&:after { margin-bottom: -3px; }
	}

	&.tooltip-bottom {
		&:before, &:after {
			bottom: initial;
			margin-bottom: initial;
			top: 100%;
		}
		&:before { margin-top: 15px; }
		&:after {
			margin-top: -3px;
			border-top-color: transparent;
			border-bottom-color: var(--neutral-700);
		}
	}

	&.tooltip-top-left:before,
	&.tooltip-top-left:after,
	&.tooltip-top-right:before,
	&.tooltip-top-right:after,
	&.tooltip-bottom-right:before,
	&.tooltip-bottom-right:after,
	&.tooltip-bottom-left:before,
	&.tooltip-bottom-left:after {
		left: initial;
		margin: initial;
		transform: translateX(0);
	}

	&.tooltip-top-left:before,
	&.tooltip-top-left:after,
	&.tooltip-top-right:before,
	&.tooltip-top-right:after {
		bottom: 100%;
	}

	&.tooltip-top-left {
		&:before {
			right: 50%;
			margin-bottom: 15px;
		}
		&:after {
			right: 75%;
			margin-bottom: 3px;
			border-right-color: var(--neutral-700);
		}
	}

	&.tooltip-top-right {
		&:before {
			left: 50%;
			margin-bottom: 15px;
		}
		&:after {
			left: 75%;
			margin-bottom: 3px;
			border-left-color: var(--neutral-700);
		}
	}

	&.tooltip-bottom-left:before,
	&.tooltip-bottom-left:after,
	&.tooltip-bottom-right:before,
	&.tooltip-bottom-right:after {
		top: 100%;
		bottom: initial;
	}

	&.tooltip-bottom-left {
		&:before {
			right: 50%;
			margin-top: 15px;
		}
		&:after {
			right: 75%;
			margin-top: 3px;
			border-top-color: transparent;
			border-right-color: var(--neutral-700);
			border-bottom-color: var(--neutral-700);
		}
	}

	&.tooltip-bottom-right {
		&:before {
			left: 50%;
			margin-top: 15px;
		}
		&:after {
			left: 75%;
			margin-top: 3px;
			border-top-color: transparent;
			border-left-color: var(--neutral-700);
			border-bottom-color: var(--neutral-700);
		}
	}

	&.tooltip-left:before,
	&.tooltip-left:after,
	&.tooltip-right:before,
	&.tooltip-right:after {
		left: initial;
		bottom: initial;
		margin: initial;
		// center vertically
		top: 50%;
		transform: translateY(-50%);
	}

	&.tooltip-right {
		&:before, &:after { left: 100%; }
		&:before { margin-left: 15px; }
		&:after {
			margin-left: -3px;
			border-top-color: transparent;
			border-right-color: var(--neutral-700);
		}
	}

	&.tooltip-left {
		&:before, &:after { right: 100%; }
		&:before { margin-right: 15px; }
		&:after {
			margin-right: -3px;
			border-top-color: transparent;
			border-left-color: var(--neutral-700);
		}
	}
}

/* MAIN CONTENT LAYOUT CLASSES */
.place-top,
\.md\:place-left {
	@apply row-start-1 col-start-1;
}

.place-bottom,
\.md\:place-right {
	@apply row-start-2 col-start-1 md:row-start-1 md:col-start-2;
}

/* SECONDS COUNTERS */
#line,
#lineContainer {
	content: "";
}

#line {
	transition: width 999ms linear;
}

@media (min-width: 768px) {
	#main.clock_left {
		grid-template-columns: 1fr 1.5fr;
	}

	#main.clock_right {
		grid-template-columns: 1.5fr 1fr;
	}
}

// CIRCLE SECONDS COUNTER
// based on https://codepen.io/jar482/pen/PmJmVa
.circle {
  transition: 999ms;
	fill: transparent;
  stroke-dashoffset: 0;
  stroke-linecap: round;
	stroke: currentColor;
  @apply text-neutral-600;

  &.fill-circle {
		stroke: currentColor;
		@apply text-accent-500;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		transform-box: fill-box;
		transform-origin: center;
		transform: rotate(-90deg);
	}
}

/* TABS */
.tab {
	&.active {
		@apply text-neutral-900;
		z-index: 2;
	}

	&:first-child.active {
		box-shadow: 1px 0 2px -1px #5a5359;
	}
	&:not(:first-child).active {
		box-shadow: -1px 0 2px -1px #5a5359;
	}
}

.tab-content {
	z-index: 5;
	top: -1px;
	min-height: 16px;
}

/* TIMERS */
.timer {
	min-width: 25%;
}

.clear-time:not(.disabled):hover {
	@apply text-error-700;
}

.save-time:not(.disabled):hover {
	@apply text-success-700;
}

/* TIME ENTRIES */
#time_entries table tr {
	display: grid;
	grid-template-columns: 1.25fr 1.25fr 2fr 2fr .5fr;
	align-items: center;
	justify-content: center;

	&:nth-child(even) {
		@apply bg-tertiary-300;
	}

	& th,
	& td {
		@apply text-center;
	}

	& th { @apply p-2 text-lg; }
	& td { @apply p-1; }
}