@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap");
:root {
  --font-size-1: 1rem;
  --font-size-2: 1.75rem;
  --font-size-3: 2.54rem;
  --font-size-4: 3.25rem;
  --font-size-5: 4rem;
  --font-size-6: 4.65rem;
  --font-size-7: 5.25rem;
  --font-size-8: 5.8rem; }

body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap; }

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold; }

h2 {
  @apply text-4xl md:text-5xl font-bold; }

h3 {
  @apply text-3xl md:text-4xl font-bold; }

h4, h5, h6 {
  @apply text-2xl md:text-4xl; }

h5, h6 {
  @apply italic; }

#line,
#lineContainer {
  content: ""; }

#line {
  transition: width 999ms linear; }

.disabled {
  @apply text-neutral-600 cursor-default; }

.place-top,
\.md\:place-left {
  @apply row-start-1 col-start-1; }

.place-bottom,
\.md\:place-right {
  @apply row-start-2 col-start-1 md:row-start-1 md:col-start-2; }

.circle {
  transition: 999ms;
  fill: transparent;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke: currentColor;
  @apply text-neutral-600; }
  .circle.fill-circle {
    stroke: currentColor;
    @apply text-accent-500;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-90deg); }

.clear-time:not(.disabled):hover {
  @apply text-error-700; }

.save-time:not(.disabled):hover {
  @apply text-success-700; }

.add-timer {
  border-radius: 50%; }

.tab.active {
  @apply text-neutral-900;
  z-index: 2; }

.tab:first-child.active {
  box-shadow: 1px 0 2px -1px #5a5359; }

.tab:not(:first-child).active {
  box-shadow: -1px 0 2px -1px #5a5359; }

.tab-content {
  z-index: 5;
  top: -1px;
  min-height: 16px; }
