:root {
	--font-size-1: 1rem;
	--font-size-2: 1.75rem;
	--font-size-3: 2.54rem;
	--font-size-4: 3.25rem;
	--font-size-5: 4rem;
	--font-size-6: 4.65rem;
	--font-size-7: 5.25rem;
	--font-size-8: 5.8rem;
}

body {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

h1 {
	@apply text-6xl;
	@apply font-bold;
}

h2, h3 {
	@apply text-5xl;
	@apply font-bold;
}

h3 { @apply text-4xl; }
h4, h5, h6 { @apply text-3xl; }
h5, h6 { @apply italic; }

#line {
	transition: all 1s ease-out;
}