/* colors, when @apply doesn't work */
:root {
  --neutral-700: rgb(101, 93, 100);
  --neutral-800: rgb(69, 63, 68); }

/* general HTML tags */
html {
  font-size: 14px; }

body {
  @apply font-sans;
  font-weight: 400;
  font-size: 1rem;
  position: relative; }

a, .link {
  @apply text-accent-600 hover:text-accent-700; }
  .text-light a, .text-light .link {
    @apply text-accent-400 hover:text-accent-500; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @apply font-cursive;
  font-weight: 700; }

h1, .h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
  @apply leading-relaxed;
  font-variant: small-caps; }

h2, .h2 {
  @apply text-4xl md:text-5xl;
  @apply leading-relaxed;
  font-variant: small-caps; }

h3, .h3 {
  @apply text-3xl md:text-4xl;
  @apply leading-relaxed; }

h4, .h4 {
  @apply text-2xl md:text-4xl; }

h5, .h5 {
  @apply text-2xl md:text-3xl; }

h6, .h6 {
  @apply text-2xl; }

/* general classes */
.disabled {
  @apply text-neutral-600 cursor-default; }

.small-caps {
  font-variant: small-caps; }

.top-bar:after {
  width: 100%;
  content: "";
  height: 1px;
  border-bottom: 1px solid black;
  background: black;
  box-shadow: 0 3px 5px 0 black;
  z-index: 10; }

.fas, .far, .fad, .fal, .fab {
  transition: color 0.3s ease-out; }

/* TOOLTIPS */
.has-tooltip {
  position: relative; }
  .has-tooltip.font-mono {
    @apply text-sm;
    letter-spacing: 1.7; }
  .has-tooltip:before {
    @apply bg-neutral-700 text-light text-xs p-2 absolute inline-block;
    content: attr(data-tooltip);
    /* MAGIC! */
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 15px;
    min-width: 300px;
    display: none; }
  .has-tooltip:after {
    @apply border;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: -3px;
    border: 10px solid transparent;
    border-top-color: var(--neutral-700);
    display: none; }
  .has-tooltip.tooltip-visible:before, .has-tooltip.tooltip-visible:after, .has-tooltip:hover:before, .has-tooltip:hover:after {
    display: block; }
  .has-tooltip.tooltip-top:before, .has-tooltip.tooltip-top:after {
    bottom: 100%; }
  .has-tooltip.tooltip-top:before {
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 15px; }
  .has-tooltip.tooltip-top:after {
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    border-top-color: var(--neutral-700);
    margin-bottom: -3px; }
  .has-tooltip.tooltip-bottom:before, .has-tooltip.tooltip-bottom:after {
    bottom: initial;
    margin-bottom: initial;
    top: 100%; }
  .has-tooltip.tooltip-bottom:before {
    margin-top: 15px; }
  .has-tooltip.tooltip-bottom:after {
    margin-top: -3px;
    border-top-color: transparent;
    border-bottom-color: var(--neutral-700); }
  .has-tooltip.tooltip-top-left:before, .has-tooltip.tooltip-top-left:after, .has-tooltip.tooltip-top-right:before, .has-tooltip.tooltip-top-right:after, .has-tooltip.tooltip-bottom-right:before, .has-tooltip.tooltip-bottom-right:after, .has-tooltip.tooltip-bottom-left:before, .has-tooltip.tooltip-bottom-left:after {
    left: initial;
    margin: initial;
    transform: translateX(0); }
  .has-tooltip.tooltip-top-left:before, .has-tooltip.tooltip-top-left:after, .has-tooltip.tooltip-top-right:before, .has-tooltip.tooltip-top-right:after {
    bottom: 100%; }
  .has-tooltip.tooltip-top-left:before {
    right: 25%;
    margin-bottom: 15px; }
  .has-tooltip.tooltip-top-left:after {
    right: 50%;
    margin-bottom: 3px;
    border-top-color: var(--neutral-700);
    top: -15px; }
  .has-tooltip.tooltip-top-right:before {
    left: 25%;
    margin-bottom: 15px; }
  .has-tooltip.tooltip-top-right:after {
    left: 50%;
    margin-bottom: 3px;
    border-top-color: var(--neutral-700);
    top: -15px; }
  .has-tooltip.tooltip-bottom-left:before, .has-tooltip.tooltip-bottom-left:after, .has-tooltip.tooltip-bottom-right:before, .has-tooltip.tooltip-bottom-right:after {
    top: 100%;
    bottom: initial; }
  .has-tooltip.tooltip-bottom-left:before {
    right: 25%;
    margin-top: 15px; }
  .has-tooltip.tooltip-bottom-left:after {
    right: 50%;
    margin-top: -5px;
    border-top-color: transparent;
    border-bottom-color: var(--neutral-700); }
  .has-tooltip.tooltip-bottom-right:before {
    left: 25%;
    margin-top: 15px; }
  .has-tooltip.tooltip-bottom-right:after {
    left: 50%;
    margin-top: -5px;
    border-top-color: transparent;
    border-bottom-color: var(--neutral-700); }
  .has-tooltip.tooltip-left:before, .has-tooltip.tooltip-left:after, .has-tooltip.tooltip-right:before, .has-tooltip.tooltip-right:after {
    left: initial;
    bottom: initial;
    margin: initial;
    top: 50%;
    transform: translateY(-50%); }
  .has-tooltip.tooltip-right:before, .has-tooltip.tooltip-right:after {
    left: 100%; }
  .has-tooltip.tooltip-right:before {
    margin-left: 15px; }
  .has-tooltip.tooltip-right:after {
    margin-left: -3px;
    border-top-color: transparent;
    border-right-color: var(--neutral-700); }
  .has-tooltip.tooltip-left:before, .has-tooltip.tooltip-left:after {
    right: 100%; }
  .has-tooltip.tooltip-left:before {
    margin-right: 15px; }
  .has-tooltip.tooltip-left:after {
    margin-right: -3px;
    border-top-color: transparent;
    border-left-color: var(--neutral-700); }

/* Toast */
.toast {
  position: absolute;
  opacity: 0;
  transition: all 0.8s ease-out;
  z-index: 9999; }
  .toast h4 {
    margin-left: 0;
    padding-left: 0; }
  .toast p {
    margin-left: 0.25rem;
    padding-left: 0;
    line-height: 2; }
  .toast .close {
    @apply cursor-pointer text-neutral-600 hover:text-neutral-800; }
  .toast.active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease-out; }
  .toast.info {
    @apply bg-info-200 border-l-8 border-info-600; }
  .toast.success {
    @apply bg-success-200 border-l-8 border-success-600; }
  .toast.warn {
    @apply bg-warn-200 border-l-8 border-warn-600; }
  .toast.error {
    @apply bg-error-200 border-l-8 border-error-600; }
  .toast.bl {
    @apply bottom-16 left-0;
    transform: translateX(-200%); }
    .toast.bl.active {
      transform: translateX(0); }
  .toast.tl {
    @apply top-4 left-0;
    transform: translateX(-200%); }
    .toast.tl.active {
      transform: translateX(0); }
  .toast.br {
    @apply bottom-16 right-0;
    transform: translateX(200%); }
    .toast.br.active {
      transform: translateX(0); }
  .toast.tr {
    @apply top-4 right-0;
    transform: translateX(200%); }
    .toast.tr.active {
      transform: translateX(0); }
  .toast.bm {
    @apply bottom-16;
    left: 50%;
    transform: translate(-50%, 200%); }
    .toast.bm.active {
      transform: translate(-50%, 0); }
  .toast.tm {
    @apply top-4;
    left: 50%;
    transform: translate(-50%, -200%); }
    .toast.tm.active {
      transform: translate(-50%, 0); }
  .toast.mm {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -200%); }
    .toast.mm.active {
      transform: translate(-50%, 0); }

/* MAIN CONTENT LAYOUT CLASSES */
.place-top,
\.md\:place-left {
  @apply row-start-1 col-start-1; }

.place-bottom,
\.md\:place-right {
  @apply row-start-2 col-start-1 md:row-start-1 md:col-start-2; }

/* SECONDS COUNTERS */
#line,
#lineContainer {
  content: ""; }

#line {
  transition: width 999ms linear; }

@media (min-width: 768px) {
  #main.clock_left {
    grid-template-columns: 1fr 1.5fr; }
  #main.clock_right {
    grid-template-columns: 1.5fr 1fr; } }

.circle {
  transition: 999ms;
  fill: transparent;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke: currentColor;
  @apply text-neutral-600; }
  .circle.fill-circle {
    stroke: currentColor;
    @apply text-accent-500;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-90deg); }

/* TABS */
.tab {
  @apply bg-neutral-600; }
  .tab.active {
    @apply text-neutral-900;
    z-index: 2; }
  .tab:first-child.active {
    @apply bg-neutral-400;
    box-shadow: 1px 0 2px -1px var(--neutral-800); }
  .tab:not(:first-child).active {
    box-shadow: -1px 0 2px -1px var(--neutral-800), 1px 0 2px -1px var(--neutral-800); }
  .tab:nth-child(2).active {
    @apply bg-tertiary-200; }

.tab-content {
  z-index: 5;
  top: -1px;
  min-height: 16px; }

/* TIMERS */
.timer {
  min-width: 25%; }

.clear-time:not(.disabled):hover {
  @apply text-error-700; }

.save-time:not(.disabled):hover {
  @apply text-success-700; }

/* TIME ENTRIES */
#time_entries table tr {
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 2fr 2fr .5fr .5fr;
  align-items: center;
  justify-content: center;
  font-size: 1rem; }
  #time_entries table tr:nth-child(even) {
    @apply bg-tertiary-300; }
  #time_entries table tr th,
  #time_entries table tr td {
    @apply text-center; }
  #time_entries table tr th {
    @apply p-2 text-lg; }
  #time_entries table tr td {
    @apply p-1; }

.load-time-entry {
  @apply text-4xl text-success-600 hover:text-success-900 hover:cursor-pointer; }

.remove-time-entry {
  @apply text-4xl text-error-600 hover:text-error-900 hover:cursor-pointer; }
