:root {
  --font-size-1: 1rem;
  --font-size-2: 1.75rem;
  --font-size-3: 2.54rem;
  --font-size-4: 3.25rem;
  --font-size-5: 4rem;
  --font-size-6: 4.65rem;
  --font-size-7: 5.25rem;
  --font-size-8: 5.8rem; }

body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap; }

h1 {
  font-size: var(--font-size-4);
  font-weight: bold; }

h2, h3 {
  font-size: var(--font-size-3);
  font-weight: bold; }

h3 {
  font-size: var(--font-size-3); }

h4, h5, h6 {
  font-size: var(--font-size-2); }

h5, h6 {
  font-style: italic; }

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  height: 100%; }

#clock {
  font-size: var(--font-size-8); }

#line {
  transition: all 1s ease-out; }
